<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @medical_service.name %>
</p>


<%= link_to 'Edit', edit_medical_service_path(@medical_service) %> |
<%= link_to 'Back', medical_services_path %>
