<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @institutions_type.name %>
</p>


<%= link_to 'Edit', edit_institutions_type_path(@institutions_type) %> |
<%= link_to 'Back', institutions_types_path %>
