<p>
  <%= image_tag @person.avatar(:small) %>
</p>

<p>
  <b>Nombre:</b></br>
  <%= @person.fullname %>
</p>
</br>

<% if can? :update, @person %>
    <%= link_to 'Editar', edit_person_path(@person) %> |
<% end %>
<%= link_to 'Registro de Personas', people_path %>
