<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @functionalsupport.name %>
</p>


<%= link_to 'Edit', edit_funcional_support_path(@functionalsupport) %> |
<%= link_to 'Back', funcional_supports_path %>
