<h1>Localidades de Mexico</h1>

<% @towns.each do |town| %>
  <tr>
    <td><% town.cve_loc %></td>
    <td><% town.name %></td>
    <td><% town.longitude %></td>
    <td><% town.latitude %></td>
  </tr>
<% end %>
</table>

<br />
<%= gmaps4rails(@json) %>