<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @benefit_category.name %>
</p>


<%= link_to 'Edit', edit_benefit_category_path(@benefit_category) %> |
<%= link_to 'Back', benefit_categories_path %>
