<div class="show">

  <%= image_tag @user.avatar.url(:medium) %></br></br>
<p>
  <b>Nombre:</b></br>
  	<%= @user.fullname%>
</p>
</br>
<p>
  <b>Correo Electronico:</b></br>
  	<%= @user.email %>
</p>
</br>
<p>
  <b>Departamento:</b> </br> 
  	<%= @user.department.name %>
</p>
</br>
