<h1>Editar Componente del Plan Estatal Sexenal</h1>

<%= render 'form' %>

<div class="form-actions btn-group">
<%= link_to 'Ver Detalles', @sexennial_state_plan_component, :class => "btn" %>
<%= link_to 'Regresar', sexennial_state_plan_components_path, :class => "btn" %>
</div>
