<h1>Editar Componente del Plan Estatal Sexenal</h1>

<%= render 'form' %>

<%= link_to 'Ver Detalles', @sexennial_state_plan_component %> |
<%= link_to 'Regresar', sexennial_state_plan_components_path %>
