<p>
  <b>Titulo:</b>
  <%= @sexennial_state_plan_component.title %>
</p>

<p>
  <b>Descripción:</b>
  <%= @sexennial_state_plan_component.description %>
</p>


<%= link_to 'Editar', edit_sexennial_state_plan_component_path(@sexennial_state_plan_component) %> |
<%= link_to 'Regresar', sexennial_state_plan_components_path %>
