<p>
  <b>Nombre:</b>
  <%= @critical_success_factor_type.name %>
</p>


<%= link_to 'Editar', edit_critical_success_factor_type_path(@critical_success_factor_type) %> |
<%= link_to 'Regresar', critical_success_factor_types_path %>
