<h2>Editar Tipo de Actividad</h2>

<%= render 'form' %>

<div class="form-actions btn-group">
<%= link_to 'Mostrar', @activity_type , :class => "btn" %>
<%= link_to 'Atras', activity_types_path, :class => "btn" %>
