<h1>Editar Factor Crítico</h1>

<%= render 'form' %>
<div class="form-actions btn-group">
<%= link_to 'Ver Detalles', @critical_success_factor, :class => "btn" %>
<%= link_to 'Regresar', critical_success_factors_path, :class => "btn" %>
</div>
