<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @funcional_support.name %>
</p>


<%= link_to 'Edit', edit_funcional_support_path(@funcional_support) %> |
<%= link_to 'Back', funcional_supports_path %>
