<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @functionalsupport.name %>
</p>


<%= link_to 'Edit', edit_functional_support_path(@functionalsupport) %> |
<%= link_to 'Back', functional_supports_path %>
