<h2>Nueva Meta para <%= @critical_success_factor.title %></h2>

<%= render :partial => 'form', :locals => {:url => critical_success_factor_goals_path(@critical_success_factor), :method => :post} %>


