<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @discapacity_origin.name %>
</p>


<%= link_to 'Edit', edit_discapacity_origin_path(@discapacity_origin) %> |
<%= link_to 'Back', discapacity_origins_path %>
