<h1>Editar Atenci´n</h1>

<%= render :partial => 'form', :locals => {:url => office_office_records_path(@office) + "/" + @office_record.id.to_s, :method => :post} %>

<%# link_to 'Show', @office_record %> |
<%# link_to 'Back', office_records_path %>
